SUBSYSTEMS=="usb", \
    ATTRS{idVendor}=="2e8a", \
    ATTRS{idProduct}=="0003", \
    TAG+="uaccess" \
    MODE:="0666"
SUBSYSTEMS=="usb", \
    ATTRS{idVendor}=="2e8a", \
    ATTRS{idProduct}=="0009", \
    TAG+="uaccess" \
    MODE:="0666"
SUBSYSTEMS=="usb", \
    ATTRS{idVendor}=="2e8a", \
    ATTRS{idProduct}=="000a", \
    TAG+="uaccess" \
    MODE:="0666"
SUBSYSTEMS=="usb", \
    ATTRS{idVendor}=="2e8a", \
    ATTRS{idProduct}=="000f", \
    TAG+="uaccess" \
    MODE:="0666"
SUBSYSTEMS=="usb", \
    ATTRS{idVendor}=="2e8a", \
    ATTRS{idProduct}=="f00a", \
    TAG+="uaccess" \
    MODE:="0666"
SUBSYSTEMS=="usb", \
    ATTRS{idVendor}=="1b4f", \
    ATTRS{idProduct}=="0026", \
    TAG+="uaccess" \
    MODE:="0666"
