# /etc/udev/rules.d/99-sparkfun-promicro-rp2350.rules

# 1b4f:0026 SparkFun ProMicro RP2350

SUBSYSTEM=="usb", \
    ATTRS{idVendor}=="1b4f", \
    ATTRS{idProduct}=="0026", \
    TAG+="uaccess" \
    MODE="666", \
    GROUP="plugdev"
